{%extends "dashboard.html"%}
{%block content%}


<div class="card text-center">
    <div class="card-body">

        <div class="temperature-location-bar">
            <div class="weather-brief" style="align-content: flex-start;">
                <img src="{{ current_weather.get('weather')[0].get('icon') }}" id="weather-icon"
                    style="height: 50px; width: 50px;">
                <label class="temperature-label" id="current-temp">
                    <h1>{{current_weather.get('temp')}}°C</h1>
                </label>
                <div class="temperature-params">
                    <label id="wind" class="wind">Wind : {{ current_weather.get('wind_speed') }} Miles/hr</label>
                    <label id="humidity" class="humidity">Humidity : {{ current_weather.get('humidity') }} %</label>
                    <label id="visibility" class="visibility">Visibility : {{ current_weather.get('visibility')
                        }} m</label>
                </div>
            </div>
            <div class="location-brief" style="align-content: flex-end; flex-grow: 1; text-align: right;">
                <label class="selected-location">{{location.city}}, {{location.state}}, {{location.postal_code}}</label>
                <label class="selected-day-of-week">{{ selected_day }}</label>
            </div>
        </div>
    </div>
</div>

<div class="temperature-forecast">

    <div class="card text-center justify-content-center shaodw-lg card-1 border-0 bg-white px-sm-2">
        <div class="card-body show">
            <div class="radio-group row justify-content-between px-3 text-center a">
                {% for day in forecast_data %}

                <div class="col-auto mr-sm-2 mx-1 card-block py-0 text-center radio" onclick="changeDay( {{ day }} )">

                    <div class="flex-row">

                        <img src="{{ day.get('weather')[0].get('icon') }}"
                            style="height: 45px; width: 45px; margin-top: 20px;" />

                        <div class="day-of-week">
                            <label>{{ day.get('dt')[:3] }}</label>
                        </div>

                        <div class="min-max-temp">
                            <label class="max-temp">{{ day.get('temp').get('max') }}</label>
                            <!-- <div class="vl" style="border-left: 1px solid lightslategray; height: auto"></div> -->
                            <label class="min-temp">{{ day.get('temp').get('min') }}</label>
                        </div>

                    </div>

                </div>

                {% endfor %}
            </div>

        </div>
    </div>

</div>


{%endblock%}