{%extends "dashboard.html"%}
{%block content%}
<div class="container">
    <form id="filter-form">
        <div class="filter-container-1">
            <div class="form-group">
                <input type="text" id="volcano-name" class="volcano-name-search" placeholder="Search Name" required />
                <p class="validation" id="name-validation"></p>
            </div>

            <div class="form-group">
                <label for="validationDefault04" class="form-label">Country</label>

                <select name="country-select" class="form-select" id="country" onchange="filterByCountry();">
                    <option selected disabled value="">Choose Country</option>
                    {% for c in country[1:] %}
                    <option value="{{c}}">{{c}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="filter-container-2">

            <div class="form-group">
                <label for="validationDefault04" class="form-label">Type</label>

                <select name="type-select" class="form-select" id="volcano-type" onchange="filterByType()">
                    <option selected disabled value="">Choose Type</option>
                    {% for t in type[1:] %}
                    <option value="{{t}}">{{t}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="dropdown">
                <label for="validationDefault04" class="form-label">Elevation</label>
                <select class="form-select" aria-label="Default select example" id="elevation"
                    onchange="filterByElevation()">
                    <option selected>Elevation Greater Than</option>
                    <option value="500">500</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                </select>
            </div>
        </div>


        <div class="filter-container-3" id="advanced">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                onchange="toggleAdvanceSearch()" />
            <label class="form-check-label" for="flexSwitchCheckDefault">Advanced Search</label>

            <div class="advanced-search" style="display: none;">
                
                <div class="form-group" id="google-location-autocomplete">
                    <input type="text" id="user-location" placeholder="Search Volcanoes Near">
                    <p class="validation" id="user-location-validation"></p>
                </div>

                <!-- <label for="quantity">Radius</label> -->
                <input type="number" placeholder="Radius (Km)" id="search-radius" name="radius" min="10">
            </div>
        </div>

        <div class="submit-button">
            <button type="button" class="btn btn-primary" onclick="searchByName()">Search</button>
        </div>

    </form>

</div>

<div id="my_map">
    <iframe id="map" width="600" height="400" src="static/volcano_map.html"></iframe>
</div>

{%endblock%}